<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>会员服务中心</title>
	<link th:href="@{/static/layui/css/layui.css}" rel="stylesheet" type="text/css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

	<div th:replace="./common/header"></div>

	<div class="layui-body">
		<!-- 内容主体区域 start -->

		<div class="layui-form-item">
			<label class="layui-form-label">更新文章</label>
			<div class="layui-input-block">

				<form class="layui-form" th:action="@{/article/toUpdate}" th:object="${article}" method="post" >
					<input type="text" name="UserId" style="display: none" th:value="${session.userId}" />
					<input type="text" name="articleId" style="display: none" th:value="${article.articleId}" />
					<div class="layui-form-item">
						<label class="layui-form-label">文章标题</label>
						<div class="layui-input-block">
							<input type="text" name="articleName" th:value="${article.getArticleName()}" required  lay-verify="required" placeholder="请输入文章标题" autocomplete="off" class="layui-input" />
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">文章描述</label>
						<div class="layui-input-block">
							<input type="text" name="remark" required th:value="${article.getRemark()}" lay-verify="required" placeholder="请输入文章描述" autocomplete="off" class="layui-input" />
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">喜欢</label>
						<div class="layui-input-block">
							<input type="text" name="likeNum" th:value="${article.getLikeNum()}" disabled placeholder="不可手动输入" autocomplete="off" class="layui-input" />
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">评论</label>
						<div class="layui-input-block">
							<input type="text" name="commentNum" th:value="${article.getCommentNum()}" disabled placeholder="不可手动输入" autocomplete="off" class="layui-input" />
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">文章封面</label>
						<div class="layui-input-block">
							<input type="text" name="articleCover" th:value="${article.getArticleCover()}" required  lay-verify="required" placeholder="请输入或点击上传文章封面" autocomplete="off" class="layui-input" />
							<button type="button" class="layui-btn" id="test1">
								<i class="layui-icon">&#xe67c;</i>上传图片
							</button>
						</div>
					</div>
					<div class="layui-form-item layui-form-text">
						<label class="layui-form-label">文章内容</label>
						<div class="layui-input-block">
							<textarea name="content" th:text="${article.getContent()}" placeholder="请输入内容" class="layui-textarea"></textarea>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="layui-btn" lay-filter="formDemo">更新</button>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<!-- 内容主体区域 end -->
	</div>

	<div th:replace="./common/footer"></div>

</div>
<script th:src="@{/static/layui/layui.js}"></script>
<script>
	layui.use(['element', 'layer', 'form'], function(){
		var element = layui.element;
		var layer = layui.layer;

		//监听折叠
		element.on('collapse(test)', function(data){
			layer.msg('展开状态：'+ data.show);
		});

		var form = layui.form;

		//监听提交
		form.on('submit(formDemo)', function(data){
			layer.msg(JSON.stringify(data.field));
			return false;
		});

	});

	layui.use('upload', function(){
		var upload = layui.upload;

		//执行实例
		upload.render({
			elem: '#test1' //绑定元素
			,url: '/file/upload' //上传接口
			,done: function(res){
				//上传完毕回调
				console.log(res)
			}
			,error: function(){
				alert("失败")
				//请求异常回调
			}
		});
	});
</script>
</body>
</html>